@import '../../../scss/global.scss';

.table-of-contents-title {
    font-family: $font-family-monospace !important;
    font-weight: 800;
    margin-bottom: 32px;
    display: flex;
    align-items: center;

    i {
        color: $secondary;
        margin-right: 16px;
        font-size: 20px;
    }
}

.table-of-contents-container {
    width: fit-content;

    a {
        text-decoration: none;
    }

    ul {
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 32px;
        gap: 16px;

        li , li a {
            display: flex;
            align-items: center;
            justify-content: center;
            text-wrap: nowrap;

            b {
                margin-right: 8px;
            }
        }

        li {
            position: relative;
            color: $black;
            
            i:first-child {
                color: $primary;
                margin-right: 16px;
            }

            
        }

        li.ativo {
            a {
                font-weight: 800;
            }
            
            &::after {
                content: " ";
                width: 5px;
                height: 100%;
                background-color: $primary;
                opacity: 1;
                position: absolute;
                left: -32px;
                top: 0;

                transition: all .3s ease;
            }
        }

        &::before {
            content: " ";
            width: 3px;
            height: 100%;
            background-color: $primary;
            opacity: .15;
            position: absolute;
            left: 0px;
            top: 0;
        }
    }

    .fa.fa-star {
        color: $gold;
    }

    .fa-regular.fa-star {
        color: $gray;
    }
}