@import '../../../scss/global.scss';

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 125px;
}

header[data-stuck] {    
    .header-wrapper {
        position: fixed;
        z-index: 10;
        top: 0;
        margin-top: 0px;
        border: none;
        border-bottom: 1px solid $primary;
        max-width: 100%;    
        border-radius: 0;
    }
}

html[data-bs-theme="dark"] .header-wrapper {
    background-color: #101010;
}

.header-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $gray-100;
    border-radius: 64px;
    border: 1px solid $primary;
    transition: .3s ease-in-out;
}

.header-container {
    width: 100%;
    padding: 16px 32px;
    transition: all .3s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
        margin-bottom: 0;
    }
}

@media only screen and (min-width: 360px) and (max-width: 430px) {    
    .header-wrapper {
        flex-direction: row;
        align-items: center;
    }

    header[data-stuck] {
        .header-wrapper {
            width: 100%;

            .header-container {
                padding: 16px;
            }
        }
    }
}