@import '../../scss/global.scss';

.alert {
    font-family: "DM Sans";
    font-size: 14px;
    font-weight: 500;
    padding: 16px 32px;
    border-color: none;
    background-color: transparent;

    i {
        margin-right: 16px;
    }
}

.alert {
    &-danger {
        background-color: rgba($color: $danger, $alpha: 0.15);

        i {
            color: $danger;
        }
    }

    &-warning {
        background-color: rgba($color: $warning, $alpha: 0.15);

        i {
            color: $warning;
        }
    }

    &-success {
        background-color: rgba($color: $success, $alpha: 0.15);

        i {
            color: $success;
        }
    }

    &-info {
        background-color: rgba($color: $info, $alpha: 0.15);

        i {
            color: $info;
        }
    }
}
