@import '../../../scss/global.scss';

.operation-result {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    span.message {
        margin-top: 24px;
    }
}